@model IEnumerable<ObreshkovLibrary.Models.Client>

@{
    ViewData["Title"] = "Читатели";
}

<h1>Читатели</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Добави читател</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Име</th>
            <th>Телефон</th>
            <th>Клас</th>
            <th>№ карта</th>
            <th>Регистриран</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @(($"{item.FirstName} {item.MiddleName} {item.LastName}")
                                    .Replace("  ", " ")
                                    .Trim())
            </td>

                <td>@item.PhoneNumber</td>

                <td>@item.Grade@item.Section</td>

                <td>@item.CardNumber</td>

                <td>@item.CreatedOn.ToString("dd.MM.yyyy")</td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Редакция</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Детайли</a>
                </td>
            </tr>
                }
    </tbody>
</table>
